<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= link_to @link.title, @link.url %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @link.memo %>
</p>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
